.logo {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(73, 213, 73);
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  /* background-image: linear-gradient(
    325deg,
    rgb(227, 155, 92),
    rgb(210, 108, 19),
    rgb(186, 57, 11)
    ); */
  background-color: black;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.library {
  padding: 1rem;
  color: white;
  background-color: rgb(53, 53, 53);
  border-radius: 5px;
  text-transform: uppercase;
}
