.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.55rem 1rem;
  margin: 0.25rem 0;
  transition: 0.25s;
  color: white;
  background-color: rgb(25, 25, 25);
  border-radius: 5px;

  &:hover {
    background-color: black;
    cursor: pointer;
  }
}

.column {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 2rem;
}

.columnLeft {
  /* justify-content: flex-start; */
}

.columnRight {
  display: flex;
  justify-items: flex-end;
}

.song {
  font-size: 1.4rem;
  padding-right: 1.5rem;
  font-weight: 500;
}

.artist {
  font-size: 1.2rem;
  font-style: italic;
  color: #646464;
}

/* .btnAdd {
  background-color: rgb(73, 213, 73);
  color: white;
  border-radius: 50%;
  
} */

.column i {
  color: rgb(73, 213, 73);
  font-size: 1.5rem;
}

.inPlaylist {
  color: rgb(73, 213, 73);
  background-color: black;

  i {
    visibility: hidden;
  }
}

img {
  border-radius: 5px;
}
